$border-radius: 4px;
$card-width: 18rem;
$card-height: 18rem;
$margin-size: 15px;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
$legend-background: #4b4b4b;
$hover-background: #55e5f6;
$text-color: #fff;
$font-size: 1.6em;

.styled-card {
  border-radius: $border-radius;
  width: $card-width;
  height: $card-height;
  margin: $margin-size;
  box-shadow: $box-shadow;

  .image {
    width: 100%;
    height: 70%;
  }

  .legend-box {
    display: flex;
    background-color: $legend-background;
    height: 30%;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
      background-color: $hover-background;
    }

    .subtitle {
      color: $text-color;
      font-size: $font-size;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
