:root {
  --cor-primaria: #55e5f6;
  --cor-branca: #ffffff;
  --cor-fonte-title: #4b4b4b;
  --cor-fonte-text: #646464;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--cor-background);
  max-width: 100%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}